@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --spacing: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F172A;
    --foreground: #ededed;
  }
}

h1{
  font-size: 3rem;
  font-weight: bold;
}

h2{
  font-size: 2.2rem;
  font-weight: bold;
}

h3{
  font-size: 1.8rem;
  font-weight: bold;
}

h4{
  font-size: 1.3rem;
  font-weight: bold;
}

p{
  font-size: 1.2rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hobby{
  @apply w-20;
  @apply h-20;
  @apply group-hover:w-28;
  @apply group-hover:h-28;
  @apply transition-all;
  @apply rounded-full;
}

section{
  margin-top: 112px;
}
